/* ============================================== start gallary ======================================================== */

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    gap: 120px;
    margin: 100px 0 250px;
}

.gallery .container a {
    text-decoration: none;
    background-color: #eee;
    padding: 15px;
}

.gallery .container .box {
    width: 250px;
    background-color: #eee;
}

.gallery .container .image {
    width: 250px;
    height: 200px;
    position: relative;
    overflow: hidden;
}


.gallery .container .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.gallery .container .box:hover ::before {
    animation: flashing 0.7s;
}

.gallery .container .box img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.gallery .container .box:hover img {
    transform: rotate(5deg) scale(1.1);
}

@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .container .but {
    display: flex;
    justify-content: center;
}



.gallery .container .but button {
    position: relative;
    border: none;
    padding: 15px 20px;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
    transition-delay: .2s;
    font-weight: 600;
}

.gallery .container .but button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ff9800;
    z-index: -1;
    transition: 0.8s;
}

.gallery .container .but button:hover:after {
    width: 145px;
    height: 145px;
}

.gallery .container .but button:hover {
    color: white;
}


/* ============================================== end gallary ======================================================== */

.perant {
    /* position: relative; */
    padding: 60px 0;
    margin: 150px 0;
    background-color: white;
}
.perant .container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 120px;
}

.perant .container button {
    border: none;
    cursor: pointer;
}

.perant .container .box {
    width:250px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(29 29 29 / 50%);
    height: 346px;
}

.perant .container .box .img {
    position: relative;
    overflow: hidden;
}
.perant .container .box .img::after {
    content: "";
    position: absolute;
    bottom: 3px;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 120px 500px;
    border-color: transparent transparent white transparent;
    transition: 1s;
}

.perant .container .box:hover .img::after {
    border-width: 170px 500px 170px 0;
}

.perant .container .img img {
    width: 100%;
    height: 250px;
}

.perant .container h2 {
    border: 2px solid #0075ff;
    padding: 10px 20px;
    width: fit-content;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    transition-delay: 0.5s;
    cursor: pointer;
}

.perant .container .box .h2 {
    font-size: 18px;
}

.perant .container .box h2::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #0075ff;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}
.perant .container .box h2::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #0075ff;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
}

.perant .container .box h2:hover{
    color: white;
}

.perant .container .box h2:hover::before {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.perant .container .box h2:hover::after {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.perant .container a {
    text-decoration: none;
    color: black;
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
    }
}